/*===TOPBAR===*/
body{
    margin: 0%;
    padding: 0%;
    font-family: "DM Sans", serif;
    font-weight: 100 1000;
}

.topbar{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 15px;
    background-color: #C5A461;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
}

.right-bar{
    display: flex;
    column-gap: 25px;
}

#border{
  border-right: #fff 2px solid;
  padding-right: 25px;
}

#border a{
    text-decoration: none;
    color: #fff;
}

#border a:hover{
    text-decoration: underline;
    padding-bottom: 5px;
}

/*==NAV===*/
 .background{
    background-image: url(../images/background.svg) ;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    background-color: transparent;
}



.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    font-weight: 800;
     font-style: italic;
}

#menubar{
    display: flex;
    column-gap: 40px;
    
}

#menubar a{
    text-decoration: none;
    color: #1C2539;
}

#menubar a:hover{
    color: #C5A461;
}

#button{
    padding: 20px;
    text-align: center;
    background-color: #c19847 ;
    margin-left: 70px;
    color: #fff;
    border: none;
    border-radius: 7%;
    font-size: 17px;
    margin-top: -20px;
}

#button:hover{
    background-color: rgba(225, 227, 223, 0.38);
    color: #C5A461;
     transition: 1.2s;
}

.center{
    margin-top: 100px;
    text-align: center;
}

#first{
        align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #5D666F;

}

#main{
    display: block;
    text-align: center;
    position: relative;
font-size: 64px;
font-weight: 700;
    line-height: 1.1;
    word-break: break-word;
    font-family: "Red Hat Display", serif;
    color: #1C2539;
}

#second{
    color: #6c757d;
    font-family: "Red Hat Display", serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*--Header--*/
.photo{
    display: flex;
    column-gap: 30px;
    margin-left: 120px;
    margin-right: 120px;
    
}

.about{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}

.box{
    display: flex;
    gap: 30px;
    padding: 30px;
}

#span{
    background: #FEF2E3;
    border-radius: 16px;
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    padding: 60px 50px;
}

#no{
    font-size: 45px;
    color: #C5A461;
    font-weight: 700;
    padding: 50px;
    
}

#write{
   color:  #5D666F;
   font-size: 24px;
   padding-left: 50px;
   font-weight: 400;
}

.side{
    color: #5D666F;
    font-size: 16px;
    margin-top: 50px;
}

#black{
    max-width: 191px;
    font-weight: 400;
    color: #050D20;
    font-size: 16px;
}

.small{
        display: flex;
    align-items: center;
    gap: 10px;
}

#img{
    border: 0px;
    vertical-align: middle;
    margin-left: 200px;
}

#side-img{
    margin-top: -300px;
    margin-left: 150px;
}

#exp{
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #C5A461;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 50px 33px;
    text-align: center;
    position: absolute;
    top: 1500px;
    width: 200px;
    margin-left: 420px;

}

.aboutus{
    display: grid;
    grid-template-columns: auto auto;
}

#text{
    font-size: 15px;
    font-weight: 300;
}

#us{
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 22px;
    font-weight: 600;
    border-radius: 6px;
    letter-spacing: 2px;
}

#future{
    color: #1C2539;
    font-weight: 700;
    line-height: 1.35;
    font-size: 32px;
}

#us2{
    color: #5D666F;
    font-size: 16px;
    font-weight: 400;
}

#ull{
    color: #1C2539;
    font-size: 17px;
    margin-left: 0px;
}

#tick{
    padding: 3px;
}

.smallerdiv{
    display: flex;
    column-gap: 20px;
}

#phone{
    background-color: #C5A461;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20%;
}